.HeroSection {
  height: 100px;
}
.Navbar {
  height: 80px;
  background-color: aquamarine;
}

.MainSection {
  height: 500px;
  background: rgb(189, 188, 210);
  background: linear-gradient(
    90deg,
    rgb(201, 199, 249) 0%,
    rgb(169, 169, 231) 35%,
    rgb(216, 217, 240) 100%
  );
}

.MainSectionImg {
  height: 500px;
}
.MainSectionH1 {
  color: gray;
  font-size: larger;
  width: 150px;
}
.MainSectionH2 {
  color: gray;
  font-size: larger;
}
.MainSectionButton {
  background-color: rgba(18, 84, 190, 0.871);
  color: white;
  border-style: none;
  border-radius: 7px;
  font-weight: bold;
  height: 35px;
  width: 200px;
}
